.frame {
  border: 5px #203239 solid;
  margin: 0.5rem;
  padding: 0;
  overflow: hidden;

}

.frame img{
  width: 15rem;
  height: 10rem;
  transition: transform .5s ease;
}

.frame img:hover {
  transform: scale(1.5);
}