.frame {
  border: 5px #203239 solid;
  margin: 0.5rem;
  padding: 0;
  overflow: hidden;

}

.frame img{
  width: 16rem;
  height: 12rem;
  transition: transform .5s ease;
  cursor: pointer;
}

.frame img:hover {
  transform: scale(1.5);
}